<h3>Welcome {{display_name}}</h3>

<form action="/api/posts" method="get">
  <input type="text" name="CONTENT" />
  <button type="submit">검색</button>
</form>

{{#if result}}
  {{#each result}}
    <p>{{CONTENT}}</p>
  {{/each}}
{{/if}}
<img src="{{image}}" />
{{#each post as |value|}}
  <p>
    <img id="postpic" src="{{value.postInfo.POST_PHOTO}}" />
    <span>{{value.postInfo.CONTENT}}</span></p>
{{/each}}

<script>
  console.log({{result}})
</script>